// Animated
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes slideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}


@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


// For popModal
.animated {
  animation-duration: .2s;
  animation-fill-mode: both;
  transform: translateZ(0);
  backface-visibility: hidden
}

.fadeInLeft {
  animation-name: fadeInLeft
}

.fadeOutLeft {
  animation-name: fadeOutLeft
}

.fadeInRight {
  animation-name: fadeInRight
}

.fadeOutRight {
  animation-name: fadeOutRight
}

.fadeInTop {
  animation-name: fadeInTop
}

.fadeInTopBig {
  animation-name: fadeInTopBig
}

.fadeOutTop {
  animation-name: fadeOutTop
}

.fadeInBottom {
  animation-name: fadeInBottom
}

.fadeOutBottom {
  animation-name: fadeOutBottom
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}


@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0)
  }

  100% {
    opacity: 0;
    transform: translateX(-10px)
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}


@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0)
  }

  100% {
    opacity: 0;
    transform: translateX(10px)
  }
}


@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}


@keyframes fadeOutTop {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 0;
    transform: translateY(-10px)
  }
}


@keyframes fadeInTopBig {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}


@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}


@keyframes fadeOutBottom {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 0;
    transform: translateY(10px)
  }
}